<div class="upload-wrap">
  <style scoped>
    #s3-drop-target{
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 3px dashed #999;
      color: #999;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      background-color: rgb(238, 238, 238);
    }

    #s3-drop-target.hover{
      border: 3px dashed #777;
      color: #777;
      background-color: rgb(225, 225, 225);
    }

  </style>
  <button class="btn btn-primary" type="button" style="margin-bottom: 10px" id="s3-button-target">
    <span>{{buttonText}}</span>
  </button>

  <div id="s3-drop-target"> {{dropText}}</div>
  <div class="progress" >
    <div class="progress-bar progress-bar-striped" ng-class="{active: uploading}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;" ng-class="barClass()">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
  <input type="file" style="display: none" id="s3-file-target"/>
</div>
